body{
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	font-size: 15px;color: #1a1a1a;	background: #f6f6f6;-webkit-tap-highlight-color: rgba(26,26,26,0);
}

.penn-style-header{	background-color: #373D49;white-space: nowrap;position: relative;}
.penn-style-header-menu {display: inline-block;width: auto;vertical-align: middle;-webkit-font-smoothing: antialiased;}
.penn-style-header-title{font-size: 16px;color: #EFEFEF;font-weight: 600;}

/**
 * 
 * 开始切换的图标
 * 
 * */
.penn-style-header-toggle{
    display: block;position: absolute;width: 50px;height: 50px;top: 0;right: 0;display: none;
}
.penn-style-header-toggle .bar {
    background-color: white; display: block;width: 20px; height: 2px;
    border-radius: 100px;position: absolute;top: 20px;right: 15px;
    -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;transition: all 0.5s;
}
.penn-style-header-toggle .bar:first-child {
    -webkit-transform: translateY(6px);-moz-transform: translateY(6px);
    -ms-transform: translateY(6px);transform: translateY(6px);
}
.penn-style-header-toggle.open .bar {
    -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);transform: rotate(45deg);
}
.penn-style-header-toggle.open .bar:first-child {
	-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);transform: rotate(-45deg);
}
/*切换结束*/
@media (max-width: 70em){
    .penn-style-header-menu,
    .penn-style-header-toggle{
        display: block;
        display: none\9;
    }
    .penn-style-header-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #fff;
        z-index: 100;
    }
    .penn-style-header-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }
    .penn-style-header-bottom.show {
        z-index: -1;
        top: 15px;
        position: absolute;
        overflow: hidden;
    }
    .penn-style-header-bottom.show .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }
}